<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zsshen.protectedbmi" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <application
        android:name="org.zsshen.protectedbmi.Protector"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="SRC_APP_CLASS_NAME"
            android:value="org.zsshen.bmi.MainApplication" >
        </meta-data>
        
        <activity
            android:name="org.zsshen.bmi.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service
            android:name="org.zsshen.bmi.PassiveService"
            android:enabled="true"
            android:exported="true" >
        </service>
        
        <service 
            android:name="org.zsshen.bmi.ActiveService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name="org.zsshen.bmi.BootupReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        
        <provider
            android:name="org.zsshen.bmi.MainProvider"
            android:authorities="org.zsshen.bmi"
            android:enabled="true"
            android:exported="true" >
        </provider>
    </application>

</manifest>
